################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/XFControls/.vs/XFControls/v16
/XFControls/.vs/XFControls/DesignTimeBuild
